.team-item {
  background-color: #ffffff33;
  border: 2px solid #ffffff;
  margin: 10px;
  border-radius: 10px;
  width: 120px;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 80px;
  justify-content: center;
  padding: 10px;
}

.link-item {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 375px) {
  .team-item {
    width: 140px;
    height: 100px;
  }
}
@media screen and (min-width: 768px) {
  .team-item {
    width: 300px;
    height: 180px;
  }
}

.team-logo {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .team-logo {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .team-item {
    width: 350px;
    height: 180px;
  }
  .team-logo {
    width: 100px;
    height: 100px;
  }
}

.team-name {
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 12px;
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .team-name {
    font-size: 32px;
    margin-left: 16px;
  }
}
